<div class="main-container">
  <div class="step-one">
    <h1>
      Make Your Interior More <br />
      Minimaistic & Modern
    </h1>
    <p>
      Bringing interiors to life, understanding the person or people<br />living
      in a home is far greater need in design.
    </p>
    <input class="home-search" type="text" placeholder="Search Furniture" />
  </div>

  <div class="why-choosing-us">
    <h2>Why Choosing Us</h2>
    <div class="why-boxed">
      <div class="box-one">
        <div class="icon"></div>
        <h4>Professionalism</h4>
        <p>We deliver the final work with great professional way.</p>
        <button>More Info</button>
      </div>

      <div class="box-one">
        <div class="icon"></div>
        <h4>Professionalism</h4>
        <p>We deliver the final work with great professional way.</p>
        <button>More Info</button>
      </div>

      <div class="box-one">
        <div class="icon"></div>
        <h4>Professionalism</h4>
        <p>We deliver the final work with great professional way.</p>
        <button>More Info</button>
      </div>

      <div class="box-one">
        <div class="icon"></div>
        <h4>Professionalism</h4>
        <p>We deliver the final work with great professional way.</p>
        <button>More Info</button>
      </div>
    </div>
  </div>

  <div class="Visualize-ideas-with-us">
    <h2>Visualize your ideas with us</h2>
    <div class="with-us-container">
      <div class="details">
        <div class="line-one">
          <h4>Get Ready For Your Idea</h4>
          <p>
            We are ready to help you build and also realize the room design that
            you dream of, with our experts and also the best category
            recommendations from us We are ready to help you build and also
            realize the room design that you dream of, with our experts and also
            the best category recommendations from us from us We are ready to
            help you build and also realize the room design that you dream of,
            with our experts and also the best category recommendations from us
          </p>
          <div class="button">View More</div>
        </div>
        <div class="line-two"></div>
      </div>
      <div class="image"></div>
    </div>
  </div>

  <div class="Featured-Product">
    <h2>Featured Product</h2>
    <div class="products">
      <div class="why-boxed">
        <div class="box-all">
          <div class="product-box-one">
            <div class="img"></div>
            <h4>Product</h4>
            <h1>LKR 24,000.00</h1>
          </div>
        </div>

        <div class="box-all">
          <div class="product-box-two">
            <div class="img"></div>
            <h4>Product</h4>
            <h1>LKR 24,000.00</h1>
          </div>
        </div>

        <div class="box-all">
          <div class="product-box-three">
            <div class="img"></div>
            <h4>Product</h4>
            <h1>LKR 24,000.00</h1>
          </div>
        </div>

        <div class="box-all">
          <div class="product-box-four">
            <div class="img"></div>
            <h4>Product</h4>
            <h1>LKR 24,000.00</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feedback">
    <h2>Featured Product</h2>
    <div class="feedback-container">
      <div class="feedback-box-one">
        <h4>Best planning service</h4>
        <p>
          I had fantastic experience at shady rhymes with pax planner, shady
          rhymes was so helpful and friendly and went above and beyond to help
          me configure my perfect walk in wardobe room.
        </p>
        <div class="image-and-name">
          <img class="imgg" alt="" />
          <div class="text">
            <h4>John doe</h4>
            <p>Project manager of cupalo</p>
          </div>
        </div>
      </div>

      <div class="feedback-box-one">
        <h4>Best planning service</h4>
        <p>
          I had fantastic experience at shady rhymes with pax planner, shady
          rhymes was so helpful and friendly and went above and beyond to help
          me configure my perfect walk in wardobe room.
        </p>
        <div class="image-and-name">
          <img class="imgg" alt="" />
          <div class="text">
            <h4>John doe</h4>
            <p>Project manager of cupalo</p>
          </div>
        </div>
      </div>

      <div class="feedback-box-one">
        <h4>Best planning service</h4>
        <p>
          I had fantastic experience at shady rhymes with pax planner, shady
          rhymes was so helpful and friendly and went above and beyond to help
          me configure my perfect walk in wardobe room.
        </p>
        <div class="image-and-name">
          <img class="imgg" alt="" />
          <div class="text">
            <h4>John doe</h4>
            <p>Project manager of cupalo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
